*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.padding-6{
    padding: 6px;
}

/*  */

#header-desc{
    margin: 10px;
}

#column{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   
}

.responsive{
    width: 100%;
    margin: 5px;
  
    
}

.gallery{
    width: 100%; 
    border: 1px solid rgb(154, 152, 152);
}

._blank{

}

.gallery__img{
    width: 100%;
    height: auto;
}

.desc{
    padding: 15px;
    text-align: center;
}


/* responsive */
@media only screen and (min-width: 500px){
     #column{
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
    }
    
    .responsive{
        width: 48%;
    }
}

@media only screen and (min-width: 700px){
    #column{
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .responsive{
        width: 33,333333%;
    }
}