<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./layout.css">
</head>
<body>
    <header id="header">
        HEADER
    </header>

    <nav id="nav">
        NAV
    </nav>

    <section id="section">
        SECTION
    </section>

    <aside id="aside">
        ASIDE
    </aside>

    <article id="article">
        ARTICLE
    </article>

    <footer id="footer">
        FOOTER
    </footer>
    
</body>
</html>